*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-family: 'Poppins', sans-serif;
}

:root{
    --main-color: #FBA24F;
}

.w-50{
    width: 50%;
}

.flex{
    display: flex;
}

.orange{
    color: var(--main-color);
}

h1{
    font-size: 40px;
    color: rgb(95, 94, 94);
    margin-bottom: 2rem;
}

.op-50{
    opacity: .5;
    margin-bottom: 2rem;
}

.hero{
    align-items: center;
    margin: 2.5rem 5rem;
}

.hero div img{
    width: 90%;
    margin-left: 3rem;
}

.btn{
    padding: 10px 30px;
    background-image: linear-gradient(to right, #FBA24F, #FF1E1E);
    border-radius: 25px;
    color: white;
    text-decoration: none;
    font-weight: 700;
    display: inline-block;
}